---
layout: main
---

{% if page.image %}
	<figure>
		<img src="{{ site.url }}{{ site.image.path }}{{ page.image.link }}" alt=""> 
		{% if page.image.credit_link %}
			<figcaption>
			<a href="{{ page.image.credit_link }}">Credits</a>
			</figcaption>
			{% endif %}
	</figure>
{% endif %}

<h1 class="colored">{{ page.title }}</h1>
<p>{{ page.description }}</p>
<p>
	{{ page.date | date_to_string }}  &nbsp;
	{% assign readtime = content | number_of_words | divided_by:site.words_per_minute %}
	~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
</p>

<section>
	{{ content }}
</section>

{% if page.previous.url or page.next.url %}
		{% if page.previous.url %}
			{% assign post = page.previous %}
		{% else if page.next.url %}
			{% assign post = page.next %}
		{% endif %}
	<nav>
		<article>
			{% include post-link.html %}
		</article>
	</nav>
{% endif %}

{% include disqus.html %}
